body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

#right-msg {
	position: relative;
	margin-left: calc(90% - 140px);
}

#sendbtn {
	
}
.bg-image {
	position: fixed;
	display: flex;
	height: 100%;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.ava {
	display:block;
}

#right-msg {
	display: block;
}

#left-msg {
	display: block;
}
#msg-area {
	padding-top: 10px;
	height: 89vh;
	overflow-y: scroll;
	padding-bottom: 10px;
}

.friend-msgs {
	background-color: bisque;
	padding-left: 10px;
	opacity: 0.9;
}

#send-container {
	width: 90%;
	padding-bottom: 3px;
	margin: auto;
	display: grid;
	grid-template-columns: 6fr 1fr;
}

::-webkit-scrollbar {
	width: 30px;
	height: 30px;
}


::-webkit-scrollbar-thumb:vertical {
	opacity: 0.0;
}

::-webkit-scrollbar-corner {
	opacity: 0.0;
}

::-webkit-scrollbar-thumb:horizontal {
	background-image: url("https://i.imgur.com/MjeqeUP.gif");
	background-position: center bottom, center -40px;
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
}